.segment-wrapper-skills > .segment-container,
.segment-wrapper-skills > .segment-arch::before,
.segment-container {
  background-color: #1a1a1a;
}

.icon-container {
    display: inline-block;
    height: 45px;
    width: 45px;
}

.skill {
  transition: all 200ms ease-in;
  padding-bottom: 20px;
  cursor: pointer;
}

.skill:hover {
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.progress-container {
    position: relative;
    height: 2px;
    width: 100px;
    align-content: center;
    margin: 0 auto;
}

.progress-bar {
    position: relative;
    height: 2px;
    align-content: center;
    opacity: 1;
}

.skills-slide {
  animation: skills-slide-in 0.25s ease-in forwards;
}
  
@keyframes skills-slide-in {
  from { opacity: 0; transform: translateY(-100px); }
  to { opacity: 1; transform: none; }
}

@media (max-width: 479px) {
    .segment-container {
      grid-template-columns: auto auto;
      grid-row-gap: 20px;
      overflow: hidden;
      padding: 2rem 1.5rem 2.5rem;
      margin: auto;
      min-height: 100px;
    }
  }

@media (min-width: 480px) and (max-width: 960px){
    .segment-container {
      grid-template-columns: auto auto auto;
      grid-row-gap: 20px;
      overflow: hidden;
      padding: 2rem 1.5rem 2.5rem;
      margin: auto;
      min-height: 100px;
    }
  }

