.segment-wrapper-contact > .segment-container-con,
.segment-wrapper-contact > .segment-arch::before {
  background-color: #333333;
  text-align: center;
  overflow: hidden;
  color: #ada9a9;
  font-family: "Roboto";
}

.new-line {
  grid-column: 1 / span 6;
  padding: 0px;
  margin:2px;
}

.center-align {
  grid-column: 1 / span 6;
  color: #b62526;
  font-size: 1.2em;
}

.segment-container-con {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  padding: 0 0 10px;
  min-height: 100px;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: #ada9a9;
}

.contact-slide {
  animation: contact-slide-in 0.25s ease-in forwards;
  animation-delay: 0.45s;
}
  
@keyframes contact-slide-in {
  from { opacity: 0; transform: translateY(-100px); }
  to { opacity: 1; transform: none; }
}

@media (max-width: 479px) {
  .segment-container-con {
      display: grid;
      grid-template-columns: auto;
      text-align: center;
      
      min-height: 100px;
      overflow: hidden;
    }
    .new-line {
      grid-column: 1 / span 6;
      margin:2px;
      padding-bottom: 2px;
    }
}

@media (min-width: 480px) and (max-width: 960px){
  .segment-container-con {
      display: grid;
      grid-template-columns: auto;
      text-align: center;
      
      min-height: 100px;
      overflow: hidden;
    }
    .new-line {
      grid-column: 1 / span 6;
      margin:2px;
      padding-bottom: 2px;
    } 
}